<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Control</title>
  <style>
    .result-box {
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin: 20px auto;
      max-width: 400px;
    }
  </style>
</head>
<body>
  <h1>Admin Access : Covid Vaccination Centres</h1>
  <hr>
  <div class="result-box">
  <h2>Insert a New Vaccination Centre</h2>
  <form action="/admin/addCentre" method="POST">
    <label for="name">Centre Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="workingHours">Working Hours:</label>
    <input type="text" id="workingHours" name="workingHours" required><br><br>
    <label for="capacity">Capacity:</label>
    <input type="number" id="capacity" name="capacity" required><br><br>
    <br>
    <button type="submit">Add Centre</button>
  </form>
  </div>
  <br><hr>
  <h2>List of Vaccination Centres</h2>
  <ul>
    <% centres.forEach(centre => { %>
      <li>
        <%= centre.name %> (Working Hours: <%= centre.workingHours %>, Capacity: <%= centre.capacity %>, Available Slots: <%= centre.availableSlots %>)
        <form action="/admin/deleteCentre/<%= centre._id %>" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
      <br>
    <% }) %>
  </ul>
  <hr>
  <p>Details of Dosages : </p><a href="/centres/dosage" target="_blank"><button>Object Data</button></a>
  <br><br>
  <a href="/admin/logout"><button>Logout</button></a><br>
</body>
</html>
